/*-- Pure CSS (http://purecss.io/). -----------------------------------------*/

@import "../../bower_components/pure/pure.css";

/*-- Application stylesheets. -----------------------------------------------*/


.chat {
    position: absolute;
    min-height: 200px;
    min-width: 200px;
}

.chat .messages {
    width: 590px;
    height: 290px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Palatino Linotype';
    overflow: auto;
}
.chat .input {
    width: 550px;
}
.chat .send {
    width: 50px;
}

.chat .in {
    color: rgb(0, 0, 0);
}
.chat .out {
    color: rgb(0, 0, 0);
}
.chat .time {
    color: rgb(144, 144, 144);
    font: 10pt 'Courier New';
}
.chat .system {
    color: rgb(165, 42, 42);
}
.chat .user {
    color: rgb(25, 25, 112);
}