<a href=""><img src="<%= avatar %>" alt=""></a>
<div class="wrap">
    <a href="" class="name"><%= name %></a>

    <div class="select-status-box">
        <select name="select-status" id="select-status" class="select-status">
            <option value="online" title="app/images/mess_status_online.png">В сети</option>
            <option value="do_not_disturb" title="app/images/mess_status_do_not_disturb.png">Не беспокоить</option>
            <option value="away" selected="selected" title="app/images/mess_status_away.png">Нет на месте</option>
            <option value="offline" title="app/images/mess_status_offline.png">Невидимый</option>
        </select>
    </div>
</div>
