<div class="header-top-line">
    <a href="#?" class="add-person"></a>
    <a href="#?" class="close"></a>

    <div class="add-person-box hidden" id="add_person"></div>
</div>
<div class="wrap-content">
    <div class="list-contacts">
        <div id="account"></div>
        <div class="search" id="filter"></div>
        <div class="list-friends" id="users"></div>
        <!--div>
            <a href="#" class="btn-search">Поиск в Evorch</a>
        </div-->
        <!--div class="list-friends list-similar-contacts">
            <ul></ul>
        </div-->
    </div>
    <div class="dialog-wrap" id="dialog"></div>
</div>
