<div id="person"></div>
<div class="content">
    <div class="dialog" id="messages"></div>
    <div class="request-to-add">
        <form action="">
            <span class="title">Пользователь Алина Полина  не включен в ваш список контактов.</span>
            <a href="" class="btn">Добавить в список контактов</a>

            <div class="textarea-box">
                <textarea maxlength="120">Здравствуйте, Алина Полина. Я хочу внести Вас в свой список контактов в Evorch.</textarea>
                <input type="submit" value="Добавить">
            </div>
        </form>
    </div>
    <div id="dialog-input"></div>
</div>
